html{
    height: it-fill-available;
}
body{
    margin:0cm;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
}
.main{
    background-color: #fcf0f4;
    position: fixed;
    z-index: 999;
    display: block;
    width: 100%;
}
#headerlogo{
    margin-right: 2cm;
    float: left;
    padding-left: 3cm;
    display: block;
    height: 2.7cm;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    margin-top: 1.2cm;
}
.navbar a{
    color: #ec699f;
    text-decoration: none;
    padding: 15px;
    display: inline;
}
.navbar a:hover{
    cursor: pointer;
    color: hsl(335, 78%, 47%);
}
.navbar li{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 0px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
.contatos{
    padding-left:10cm;
}
#mainimage{
    padding-left: 6cm;
    padding-right: 9cm;
    margin-top: 2.7cm;
    width: 70%;
    height: 16cm;
    display: inline-block;
    background-color: #ec699f;
    filter: brightness(0.6);
}
.texto-thumb{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% { opacity: 0.01; }
    100% { opacity: 1; }
}
#thumb-text1{
    position: relative;
    bottom: 13.5cm;
    left: 8cm;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1cm;
}
#thumb-text2{
    position: relative;
    bottom: 13.5cm;
    left: 8cm;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5cm;
}
.opções{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 22.5cm;
    background-color: hsl(0, 0%, 85%);
}
.box{
    width: 450px;
    height: 150px;
    text-align: center;
    border-radius: 1cm;
    color: hsl(335, 48%, 58%);
}
#box1{
    background-color: hsl(340, 67%, 96%);
    margin-left: 7cm;
    height: 15.4cm;
    font-family: Arial, Helvetica, sans-serif;
}
#box2{
    background-color: hsl(340, 67%, 96%);
    margin-left: 3cm;
    height: 15.4cm;
    font-family: Arial, Helvetica, sans-serif;
}
#img1{
    margin-top: 0.7cm;
    border-radius: 0.5cm;
}
#img2{
    margin-top: 0.7cm;
    border-radius: 0.5cm;
}
#waves1{
    width: 100cm;
    height: 6cm;
    position: relative;
    bottom: 12cm;
    right: 8cm;
}
#waves2{
    width: 100cm;
    height: 10cm;
    position: relative;
    top: 1.7cm;
    right: 8cm;
    transform: rotate(180deg);
}
.botão{
    margin-top: 1cm;
    border-radius: 5px;
    width: 7cm;
    border-color: #fcf0f400;
    background-color: hsl(335, 78%, 47%);
    color: hsl(0, 0%, 100%);
}
.botão:hover{
    cursor: pointer;
}
#botão2{
    margin-top: 0.5cm;
}
.texto{
    color: #ec699f;
    margin-left: 1cm;
    margin-right: 1cm;
}
.sobrenós{
    margin-left: 3cm;
}
#img3{
    width: 10cm;
    height: 13cm;
    position: relative;
    bottom: 10cm;
    border-radius: 1cm;
}
.sobrenós-text{
    margin-left: 12cm;
    position: relative;
    bottom: 2.5cm;
    font-family: Arial, Helvetica, sans-serif;
}
#title-about{
    margin-bottom: 2cm;
}
#paragr-about{
    position: relative;
    bottom: 2.5cm;
    font-size: 20px;
    color: hsl(0, 0%, 30%);
    text-align: justify;
}
#agulhacos{
    width: 3cm;
    position: relative;
    bottom: 19.8cm;
    left: 1.04cm;
}
#linha{
    width: 2cm;
    position: relative;
    bottom: 20.1cm;
    left: 1.04cm;
}
#exemplares{
    position: relative;
    bottom: 11.5cm;
    right: 3.3cm;
    border-radius: 5px;
    width: 8cm;
    height: 1.5cm;
    border-color: #fcf0f400;
    background-color: hsl(335, 78%, 47%);
    color: hsl(0, 0%, 100%);
}
#exemplares:hover{
    cursor: pointer;
}
